.emergency-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 237, 243);
  padding: 34px;


  @media screen and (max-width: 1023px) {
		display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    // align-items: center;
    text-align: center;
    grid-gap: 8%;
    height: 230px;
	}

  p{
    margin: 0;
    color: rgba( 24, 55, 59, 100%);
    font-weight: 600;
  }

  i{
    font-size: 1.3rem;
    padding: 0 44px;
    color: rgba( 24, 55, 59, 100%);
  }
  .down {
    display: none;
  }

  @media screen and (max-width: 1023px) {
    .right {
      display: none;
    }
    .down {
      display: flex;
    }
  }
}

// .arrow {
//   // position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   transform: rotate(270deg);
//   cursor: pointer;
// }

// .arrow span {
//   display: block;
//   width: 1.5vw;
//   height: 1.5vw;
//   border-bottom: 5px solid blue;
//   border-right: 5px solid blue;
//   transform: rotate(45deg);
//   margin: -10px;
//   animation: animate 3s infinite;
// }

// .arrow span:nth-child(2) {
//   animation-delay: -0.3s;
// }

// .arrow span:nth-child(3) {
//   animation-delay: -0.5s;
// }

// @keyframes animate {
//   0% {
//       opacity: 0;
//       transform: rotate(45deg) translate(-20px, -20px);
//   }
//   50% {
//       opacity: 1;
//   }
//   100% {
//       opacity: 0;
//       transform: rotate(45deg) translate(20px, 20px);
//   }
// }

.depannage-content{
  background-image:linear-gradient(to bottom, rgba(29, 20, 61, 0.5), rgba(29, 20, 61, 0.8)), url(depannage-climatisation-2.png);

  background-position: center;
  background-size: cover;
   justify-content: center;

   @media screen and (max-width: 1023px) {
		padding-top: 20px;
    background-image:linear-gradient(to bottom, rgba(29, 20, 61, 0.5), rgba(29, 20, 61, 0.8)), url(depannage-climatisation.png);

	}
}

.sectiontext{
  display: flex;
  padding: 80px 0;
  width: 50%;
  @media screen and (max-width: 1023px) {
		display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    padding: 80px 0;
	}

}

.depannage-content .depannage-list h3{
  // color: rgba( 37, 118, 205, 100%);
  color: #E8BE5B;
  font-weight: 600;
  // line-height: 1.6rem;
  margin-bottom: 24px;
}

.depannage-content .depannage-text h4{
  // color: rgba( 37, 118, 205, 100%);
  color: #E8BE5B;
  font-weight: 500;
  font-size: 1.3rem;
  // line-height: 1.6rem;
  margin: 40px 0 12px 0;
}

.depannage-content .depannage-text p, .depannage-content .depannage-list p{
  // color: rgba( 24, 55, 59, 100%);
  color: white;
  line-height: 1.6rem;

  @media screen and (max-width: 1023px) {
		font-size: 0.9rem
	}
}

.depannage-content .depannage-list ul > li{
  // color: rgba( 24, 55, 59, 100%);
  color: white;
  line-height: 1.6rem;
  list-style: none;
  padding-bottom: 4px;

  i{
    padding-right: 12px;
  }
  @media screen and (max-width: 1023px) {
		font-size: 0.9rem
	}
}



.depannage-content .box-one .depannage-text{
  width: 100%;
  padding: 0 20px 60px 0;
  @media screen and (max-width: 1023px) {
		width: 100%;
    padding: 0;
	}
}
