  .banner{
    background-image:linear-gradient(310deg,(rgba(0,0,0,0.1) 44% ,rgba(0,0,0,0.7)100%)), url(salon-clim3.jpg.webp);

    background-position: center;
    background-size: cover;
    justify-content: center;
    display: flex;
    height: 750px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
      background-image:linear-gradient(310deg,(rgba(0,0,0,0.1) 44% ,rgba(0,0,0,0.7)100%)), url(salon-clim3.jpg.webp);
      // background-image: url(salon-clim3.jpg.webp);
      height: 532px;
    }
  }

  .banner-text{
    justify-content: center;
    display: flex;
    height: 100%;
    // width: 100%;
    flex-direction: column;
    padding-left: 250px;

    @media screen and (max-width: 767px) {
      text-align: center;
      align-items: center;
      justify-content: center;
      padding-left: 0px;
      padding: 10px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      padding-left: 124px;
    }
  }

  .banner .banner-text h2 {
    font-family: 'DM Sans',sans-serif;
    font-size: 40px;
    color: white;
    padding: 0 0 8px 0px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

    @media screen and (max-width: 767px) {
    // display: none;
    font-size: 1.4rem;
    padding: 0 0 8px 0px;
    margin: 0;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 1.8rem;
    }
  }

  .banner .banner-text p {
    font-family: 'DM Sans',sans-serif;
    font-size: 28px;
    color: white;
    padding: 0px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

    @media screen and (max-width: 767px) {
    font-size: 1rem;
    padding: 0px;
    margin: 0;
    padding-top: 8px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 1.4rem;
    }
  }

  .title-homepage {
    background-color: white;
    padding: 96px 0 96px 200px;
    width: 64%;

    @media screen and (max-width: 767px) {
      padding: 40px;
      width: 100%;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      // padding: 40px;
      width: 75%;
    }
  }

  .title-homepage h2 {
    margin: 0;
    padding: 0 0 32px 32px;
    color: rgba( 69, 155, 218, 100%);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    border-left: 3px solid #459bda;

    @media screen and (max-width: 767px) {
      font-size: 1.6rem;
      padding: 0 0 0 32px;
      display: none;
    }

  }

  .title-homepage h3 {
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 0;
    color: rgba( 24, 55, 59, 100%);

    @media screen and (max-width: 767px) {
      font-size: 1rem;
      padding: 0;
      line-height: 1.6rem;
    }
  }

  .title-homepage p {
    margin: 0;
    color: rgba( 24, 55, 59, 100%);
    border-left: 3px solid #459bda;
    padding-left: 32px;
    line-height: 1.6rem;
    margin-bottom: 20px;

    @media screen and (max-width: 767px) {
      font-size: 0.95rem;
      border-left: 3px solid #459bda;
      padding-left: 8px;
    }
  }

  .block-quality {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 0px;
  }

  .text-quality{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 32px;

    @media screen and (max-width: 767px) {
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }

  .text-quality h2 {
    color: #bd2832;

    font-weight: bold;

    @media screen and (max-width: 767px) {
      font-size: 1.4rem;
    }
  }

  .medal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    height: 100%;

    @media screen and (max-width: 1023px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .medal img{
    height: 104px;
    width: 104px;

    @media screen and (max-width: 767px) {
      height: 70px;
      width: 70px;
    }
  }

  .medal p {
    color: rgba( 104, 104, 104, 100%);
    font-size: 0.9rem;

    @media screen and (max-width: 767px) {
      font-size: 0.85rem;
    }
  }

  .medal .location, .estimation, .car, .warranty, .service, .sav {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    flex-direction:column;
    height: 250px;
    width: 150px;

    @media screen and (max-width: 1023px) {
      height: fit-content;
      width: 114px;
    }
  }
