.information-choice-text {
  width: 70%;
  // margin-right: 5%;
  padding-top: 72px;
  padding-bottom: 40px;
  @media screen and (max-width: 768px) {
    width: 90%;
    padding-top: 50px;
	}

  h1{
    font-weight: bold;
    font-size: 1.9rem;
    color: #459bda;
    margin-bottom: 3%;
    text-wrap: pretty;
    @media screen and (max-width: 768px) {
      font-size: 1.4rem;
      margin-bottom: 6%;
    }
  }

  p{
    font-size: 0.95rem;
    line-height: 1.6rem;
    @media screen and (max-width: 768px) {
      font-size: 0.9rem;

    }
  }
}

.choice-list{
  margin-top: 20px;
  width: 70%;
}

.introduction-choice{
  display: -webkit-flex; /* Safari */
  display: flex;
  @media screen and (max-width: 768px) {
		flex-direction: column;
    margin-bottom: 8px;
	}
}

.choice-list-title{
  width: 40%;
  @media screen and (max-width: 768px) {
    width: 100%;
	}

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba( 24, 55, 59, 100%);
    @media screen and (max-width: 768px) {
      font-size: 1.3rem;
    }
  }

  p{
    font-size: 1.5rem;
    color: rgba( 240, 188, 69, 100%);
  }
}

.choice-list-ul {
  width: 60%;
  padding-left: 72px;
  display: -webkit-flex; /* Safari */
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 0 8px;
    font-size: 0.85rem;
  }

  .choice-list-1, .choice-list-2{
    width: 50%;

  }
}
.introduction-choice > .choice-list-ul > .choice-list-1 > ul{
  list-style: none;
  @media screen and (max-width: 768px) {
    padding: 0;
  }

  li{
    padding-bottom: 8px;
    color: rgba( 24, 55, 59, 100%);

    i{
      padding-right: 12px;
      color: rgba( 61, 115, 199, 100%);
      @media screen and (max-width: 768px) {
        padding-right: 8px;
      }
    }
  }
}

.introduction-choice > .choice-list-ul > .choice-list-2 > ul{
  list-style: none;
  @media screen and (max-width: 768px) {
    padding: 0;
  }

  li{
    padding-bottom: 8px;
    color: rgba( 24, 55, 59, 100%);

    i{
      padding-right: 12px;
      color: rgba( 61, 115, 199, 100%);
      @media screen and (max-width: 768px) {
        padding-right: 8px;
      }
    }
  }
}
