<div class="contact-btn-choice">
    <%# <p>Contactez-nous dès aujourd'hui pour prendre le contrôle de votre climat intérieur, été comme hiver.</p> %>
    <p>Un projet, un devis, une maintenance, un RDV, un dépannage ?</p>
    <%= link_to "Contactez nous", new_contact_path, class: "button type1" %>
</div>
