<div class="carousel ">
    <div class="carousel__control">
    </div>
    <div class="carousel__stage">
        <div class="spinner spinner--left">
            <div class="spinner__face js-active" data-bg="#27323c">
                <div class="content" data-type="iceland">
                    <div class="content__left">
                        <h1>Climatisation<br><span>Murale</span></h1>
                    </div>
                    <div class="content__right">
                        <div class="content__main">
                          <p>Le climatiseur mono-split mural est actuellement le modèle le plus largement adopté. Son installation et son entretien sont simples, et ses avantages sont bien établis. Les climatiseurs mono-splits de la catégorie murale sont également dotés de la fonction "réversible".</p>
                          <%# <p>– Carolyn Bain</p> %>
                        </div>
                        <h3 class="content__index">01</h3>
                    </div>
                </div>
            </div>
            <div class="spinner__face" data-bg="#19304a">
                <div class="content" data-type="china">
                    <div class="content__left">
                        <h1>Climatisation<br><span>Cassette</span></h1>
                    </div>
                    <div class="content__right">
                        <div class="content__main">
                            <p>Les climatiseurs cassettes sont conçus principalement pour les espaces spacieux, évitant ainsi la nécessité de multiplier les unités intérieures afin de climatiser une grande pièce. Ils sont particulièrement prisés pour réguler la température des zones de grande envergure, et on les retrouve fréquemment dans les centres commerciaux, les magasins de grande taille, ainsi que les bureaux.</p>
                          <%# <p>– Damian Harper</p> %>
                        </div>
                        <h3 class="content__index">02</h3>
                    </div>
                </div>
            </div>
            <div class="spinner__face" data-bg="#2b2533">
                <div class="content" data-type="usa">
                    <div class="content__left">
                        <h1>Climatisation<br><span>Gainable</span></h1>
                    </div>
                    <div class="content__right">
                        <div class="content__main">
                          <p>La climatisation gainable est une variante du système de climatisation split, où l'unité intérieure est discrètement encastrée dans un faux-plafond, reliée à un réseau de gaines pour la distribution d'air. Ce type de climatiseur s'adapte harmonieusement à la décoration intérieure et est idéal pour une utilisation résidentielle ou dans des espaces de bureau. De plus, il se distingue par son silence, ne produisant aucune émission sonore.</p>
                          <%# <p>– Regis St Louis</p> %>
                        </div>
                        <h3 class="content__index">03</h3>
                    </div>
                </div>
            </div>
            <div class="spinner__face" data-bg="#312f2d">
                <div class="content" data-type="peru">
                    <div class="content__left">
                        <h1>Climatisation<br><span>Console</span></h1>
                    </div>
                    <div class="content__right">
                        <div class="content__main">
                          <p>Le climatiseur console est de plus en plus populaire parmi ceux qui envisagent une rénovation intérieure. Positionnée au bas d'un mur de la pièce que vous souhaitez chauffer ou rafraîchir, l'unité intérieure d'un système de climatisation console est non seulement simple à installer, mais aussi facile à entretenir. Vous pourrez aisément installer un climatiseur console sous une fenêtre, par exemple.</p>
                          <%# <p>– Carolyn McCarthy</p> %>
                        </div>
                        <h3 class="content__index">04</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  Poor man's preloader -->
<div style="height: 0; width: 0; overflow: hidden">
<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/peru.jpg">
<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/canada.jpg">
<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/china.jpg">
<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/usa.jpg">
<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/iceland.jpg">
</div>
