<div class="stack-container">
    <ul id="stackcards">
        <li class="stackcard" id="card-stack1">
            <div class="stack-body">
              <h3>MURALE</h3>
              <p>La climatisation mono-split est un système de refroidissement et de chauffage efficace pour une seule pièce, avec une unité intérieure et extérieure. Économique et simple à entretenir, elle assure un climat optimal.</p>
            </div>

        </li>
        <li class="stackcard" id="card-stack2">
            <div class="stack-body">
              <h3>GAINABLE</h3>
              <%# <p>La climatisation gainable est un système de climatisation de pointe conçu pour offrir un confort thermique supérieur tout en conservant l'esthétique de votre espace. Avec une installation discrète et une régulation précise de la température, la climatisation gainable s'impose comme un choix judicieux pour maintenir des températures agréables dans votre maison ou bureau, quelles que soient les conditions extérieures.</p> %>
              <p>La climatisation gainable garantit un confort haut de gamme tout en restant invisible. Intégrée dans les faux plafonds, elle permet une régulation précise de la température dans plusieurs pièces, sans compromettre l’esthétique de votre intérieur.</p>
            </div>
        </li>
        <li class="stackcard" id="card-stack3">
            <div class="stack-body">
              <h3>CASSETTE</h3>
              <%# <p>La climatisation cassette est un système discret et efficace conçu pour réguler la température des grands espaces intérieurs. Installée encastrée dans le faux plafond, elle assure une répartition uniforme de l'air, idéale pour les environnements professionnels de grande taille, tels que les centres commerciaux, les magasins et les espaces de bureau.</p> %>
              <p>Encastrée dans les plafonds, la climatisation cassette diffuse l’air de façon homogène dans les grands espaces. Elle est parfaite pour les commerces, bureaux ou locaux professionnels nécessitant performance et discrétion.</p>

              </div>
        </li>
        <li class="stackcard" id="card-stack4">
            <div class="stack-body">
              <h3>CONSOLE</h3>
              <%# <p>La climatisation console est un système discret installé au bas d'un mur, sous une fenêtre. convient aux rénovations et projets intérieurs sans nécessiter de modifications majeures. Son installation est simple, et elle offre une distribution uniforme de l'air climatisé, idéale lorsque d'autres options de climatisation ne sont pas envisageables. de plus, son entretien est facile.</p> %>
              <p>La climatisation console s’installe en bas de mur, idéale sous une fenêtre ou dans une pièce mansardée. Son format compact s’intègre discrètement dans les logements rénovés, sans gros travaux. Grâce à son système double flux, elle chauffe ou rafraîchit rapidement, même les grands volumes.</p>

              </div>
        </li>
      </ul>
</div>
