<div class="flex-container">

	<div class="flex-slide home">
		<div class="flex-title">MURALE</div>
		<div class="flex-about"><p>LA CLIMATISATION MONO-SPLIT EST UN SYSTÈME DE REFROIDISSEMENT ET DE CHAUFFAGE EFFICACE POUR UNE SEULE PIÈCE, AVEC UNE UNITÉ INTÉRIEURE ET EXTÉRIEURE. ÉCONOMIQUE ET SIMPLE À ENTRETENIR, ELLE ASSURE UN CLIMAT OPTIMAL.</p></div>
	</div>
	<div class="flex-slide about">
		<div class="flex-title">GAINABLE</div>
		<div class="flex-about"><p>LA CLIMATISATION GAINABLE EST UN SYSTÈME DE CLIMATISATION DE POINTE CONÇU POUR OFFRIR UN CONFORT THERMIQUE SUPÉRIEUR TOUT EN CONSERVANT L'ESTHÉTIQUE DE VOTRE ESPACE. AVEC UNE INSTALLATION DISCRÈTE ET UNE RÉGULATION PRÉCISE DE LA TEMPÉRATURE, LA CLIMATISATION GAINABLE S'IMPOSE COMME UN CHOIX JUDICIEUX POUR MAINTENIR DES TEMPÉRATURES AGRÉABLES DANS VOTRE MAISON OU BUREAU, QUELLES QUE SOIENT LES CONDITIONS EXTÉRIEURES.</p></div>
	</div>
	<div class="flex-slide work">
		<div class="flex-title">CASSETTE</div>
		<div class="flex-about"><p>LA CLIMATISATION CASSETTE EST UN SYSTÈME DISCRET ET EFFICACE CONÇU POUR RÉGULER LA TEMPÉRATURE DES GRANDS ESPACES INTÉRIEURS. INSTALLÉE ENCASTRÉE DANS LE FAUX PLAFOND, ELLE ASSURE UNE RÉPARTITION UNIFORME DE L'AIR, IDÉALE POUR LES ENVIRONNEMENTS PROFESSIONNELS DE GRANDE TAILLE, TELS QUE LES CENTRES COMMERCIAUX, LES MAGASINS ET LES ESPACES DE BUREAU.</p></div>
	</div>
	<div class="flex-slide contact">
		<div class="flex-title">CONSOLE</div>
		<div class="flex-about"><p>LA CLIMATISATION CONSOLE EST UN SYSTÈME DISCRET INSTALLÉ AU BAS D'UN MUR, SOUS UNE FENÊTRE. CONVIENT AUX RÉNOVATIONS ET PROJETS INTÉRIEURS SANS NÉCESSITER DE MODIFICATIONS MAJEURES. SON INSTALLATION EST SIMPLE, ET ELLE OFFRE UNE DISTRIBUTION UNIFORME DE L'AIR CLIMATISÉ, IDÉALE LORSQUE D'AUTRES OPTIONS DE CLIMATISATION NE SONT PAS ENVISAGEABLES. DE PLUS, SON ENTRETIEN EST FACILE.</p></div>
	</div>
</div>
