<%# <div class="element-heading-title"> %>
  <%# <div class="container"> %>
    <%# <div class="website">
      <p>DAVIDCLIM.FR</p>
    </div> %>
    <%# <div class="informations"> %>
    <%# <p>Covid-19 : David Clim prend toutes les mesures nécessaires concernant les gestes barrières dans le cadre de l'activité.</p> %>
      <%# <p>Tel :  07 81 01 02 41</p> %>
    <%# </div> %>
    <%# <div class="city">
      <p>FRÉJUS</p>
    </div> %>
  <%# </div> %>
<%# </div> %>
