<div class="contact-banner">
    <h1>DEMANDE DE DEVIS</h1>
    <p>Pour effectuer une demande de devis gratuit, veuillez compléter le formulaire ci-dessous :</p>
</div>
<div class="contact-text">
    <p>David Clim vous accompagne pour tous vos projets de climatisation, qu'il s'agisse d'installation, de dépannage ou encore d'entretien à Fréjus et ses alentours.</p>
    <p>Vous pouvez aussi nous contacter par téléphone ou par mail :</p>
    <p><i class="fa-solid fa-phone" style="color: #2576ce;"></i><span style="padding-left: 14px;">06 11 96 44 86</span></p>
    <p><i class="fa-solid fa-envelope" style="color: #2576ce;"></i><span style="padding-left: 14px;">contact@davidclim.fr</span></p>
</div>
