<%= render "shared/navbar" %>

<div class="container depannage climatisation">
    <div class="introduction-section">
        <div class="title-section ">
            <h1>Dépannage urgent - Réparation de climatisation</h1>
            <p>_______</p>
        </div>
        <div class="text-section">
          <p>Les <strong>pannes</strong> de climatisation peuvent <strong>survenir et perturber</strong> votre confort <strong>à tout moment</strong>.</p>
          <p>Chez DAVID CLIM, nous comprenons l'urgence de ces situations. Bénéficiez de notre <strong>service de dépannage</strong> de climatisation, pour vous aider à maintenir un climat intérieur confortable toute l'année.</p>
        </div>
    </div>
</div>

<div class="emergency-section urgence clim">
    <p>Urgence Climatisation ? Cliquez pour une assistance immédiate !</p>
      <%# <p class="arrow"><span></span><span></span><span></span></p> %>
    <i class="fa-solid right fa-arrow-right-long"></i>
    <i class="fa-solid down fa-arrow-down-long"></i>
    <%= link_to "APPEL D'URGENCE ", "tel:+330611964486", class: "emergency" %>
</div>
<div class="depannage-content">
    <div class="container sectiontext box-one">
        <div class="depannage-list">
            <h3>Votre climatiseur présente des dysfonctionnements ?</h3>
            <p>Si vous remarquez l'un des symptômes suivants, il est temps d'agir :</p>
            <ul>
              <li><i class="fa-regular fa-circle-check" style="color: #E8BE5B;"></i>L’air sortant reste tiède ou ne varie pas selon la consigne,</li>
              <li><i class="fa-regular fa-circle-check" style="color: #E8BE5B;"></i>Apparition de fuites visibles ou d’humidité excessive,</li>
              <li><i class="fa-regular fa-circle-check" style="color: #E8BE5B;"></i>Givre sur l’unité intérieure ou extérieure,</li>
              <li><i class="fa-regular fa-circle-check" style="color: #E8BE5B;"></i>Bruits inhabituels ou vibrations,</li>
              <li><i class="fa-regular fa-circle-check" style="color: #E8BE5B;"></i>Mauvaises odeurs persistantes,</li>
              <li><i class="fa-regular fa-circle-check" style="color: #E8BE5B;"></i>L’appareil s’éteint de manière inattendue ou ne démarre plus,</li>
              <li><i class="fa-regular fa-circle-check" style="color: #E8BE5B;"></i>Témoins lumineux clignotants ou éteints,</li>
              <li><i class="fa-regular fa-circle-check" style="color: #E8BE5B;"></i>Dysfonctionnement de la télécommande, etc</li>
            </ul>
            <div class="depannage-text">
            <%# <h4>INTERVENTION RAPIDE</h4> %>
                <%# <p>David Clim intervient rapidement pour rétablir la performance de votre climatisation. Nos techniciens dépanneurs effectuent un diagnostic de panne sous 48 heures, assurant une solution rapide et fiable.</p> %>
                <h4>CONSEILS</h4>
                <p>Certains problèmes peuvent être résolus de manière autonome, tels que le nettoyage, le remplacement des filtres ou le changer les piles des télécommandes. Pour ce faire, suivez attentivement les instructions fournies.</p>
                <p>Cependant, certaines pannes nécessitent l'intervention d'un professionnel, notamment en ce qui concerne le fluide frigorigène ou le compresseur. Ces interventions délicates ne doivent pas être tentées par des non-professionnels.</p>
            </div>
        </div>
    </div>

</div>
<%= render "shared/partners" %>
<%= render 'shared/btn_footer_contact' %>
