<div class="container installation depannage" >
    <div class="introduction-installation">
        <div class="title-installation">
            <h1>Maintenance & Nettoyage</h1>
            <p>_______</p>
            <h1>Entretenir votre climatiseur par David Clim</h1>
        </div>
        <div class="text-installation">
            <p>Pour maintenir votre climatisation en parfait état de fonctionnement, une maintenance régulière est essentiel pour prolonger sa durée de vie, améliorer son efficacité énergétique et garantir un air intérieur de qualité.</p>
            <p>Faire entretenir sa climatisation par un professionnel est conseillé une fois par an. </p>
            <p>David Clim propose des services d'entretien pour les climatiseurs résidentiels et locaux professionnels situés à Fréjus / Saint-Raphaël et ses alentours.</p>
            <p>Nos techniciens effectuent des inspections et des ajustements pour garantir que votre système fonctionne de manière efficace, ous évitez également les risques de surconsommation d’électricité et d’éventuelles pannes. Profitez dès maintenant de nos contrats d’entretien.</p>
        </div>
    </div>
</div>

<div class="container nettoyage">
    <%= render 'shared/jet_timeline_list' %>
</div>

<%= render 'shared/btn_footer_contact' %>
<%# <p>Pourquoi faire entretenir votre climatisation?</p>
<p>l'entretien régulier de votre climatisation est essentiel pour maximiser son efficacité énergétique, prolonger sa durée de vie, maintenir la qualité de l'air intérieur, assurer votre confort et éviter des dépenses inutiles en réparations. Il est recommandé de faire appel à un professionnel qualifié pour effectuer l'entretien de votre climatisation conformément aux recommandations du fabricant.</p>
<p>L'entretien régulier de votre climatiseur présente de nombreux avantages. Tout d'abord, il garantit un fonctionnement optimal de votre appareil, ce qui se traduit par une performance accrue et une efficacité énergétique améliorée. Cela signifie que votre climatiseur refroidira plus rapidement et consommera moins d'énergie, ce qui se traduira par des factures d'électricité plus faibles.</p>
<p>De plus, l'entretien préventif de votre climatiseur permet de prolonger sa durée de vie. En identifiant et en corrigeant les problèmes potentiels avant qu'ils ne deviennent graves, vous éviterez des réparations coûteuses et prolongerez la vie de votre climatiseur.</p> %>
