<% content_for :meta_title, "Mentions légales - David Clim | Climatisation à Fréjus" %>
<% content_for :meta_description, "Consultez les mentions légales du site David Clim, spécialiste en installation, entretien et dépannage de climatisations à Fréjus et Saint-Raphaël." %>
<% content_for :meta_robots, "noindex, follow" %>
<%# <% content_for :meta_image, image_url("og-installation.jpg") %>

<%= render "shared/navbar" %>

<section class="mentions-legales container">
  <h1>Mentions légales</h1>

      <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site davidclim l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>

  <h2>Edition du site</h2>
      <p>Le présent site, accessible à l’URL www.davidclim.fr (le « Site »), est édité par :</p>
      <p>DEBESSE DAVID (DAVID CLIM) (DAVID CLIM) , société au capital de 3000 euros, inscrite au R.C.S. de FREJUS sous le numéro RCS Fréjus 950 998 062950 998 062 RM 083, dont le siège social est situé au RESIDENCE LES CYCLAMENS 540 AVENUE ANDRE LEOTARD 83600 FREJUS, représenté(e) par DAVID DEBESSE dûment habilité(e).</p>
      <p>Le numéro individuel TVA de l’éditeur est : FR31950998062.</p>

  <h2>Hébergement</h2>
  <p>Le Site est hébergé par la société OVH SAS, situé 2 rue Kellermann - BP 80157 - 59053 Roubaix Cedex 1, (contact téléphonique ou email : 1007).</p>

  <h2>Directeur de publication</h2>
  <p>Le Directeur de la publication du Site est DAVID DEBESSE .</p>

  <h2>Nous contacter</h2>
  <p>
    Par téléphone : +33 6 11 96 44 86<br>
    Par email : contact@davidclim.fr<br>
    Par courrier : RESIDENCE LES CYCLAMENS 540 AVENUE ANDRE LEOTARD 83600 FREJUS
  </p>

  <h2>Conception et réalisation</h2>
  <p>
  Site conçu et développé par l’agence web Salutis -
  <%= link_to 'www.salutis.fr', 'https://www.salutis.fr', class: 'salutis-link', target: '_blank', rel: 'noopener' %><br>
  Tél. : +33 6 38 60 88 32
</p>

  <h2>Données personnelles</h2>
  <p>
    Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée,
    disponible depuis la section "Charte de Protection des Données Personnelles",
    conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).
  </p>
</section>
