<%# <meta name="title" content="Politique de confidentialité - David Clim"> %>
<%# <meta name="description" content="Découvrez comment le site David Clim collecte, utilise et protège vos données personnelles conformément au RGPD."> %>
<% content_for :meta_title, "Politique de confidentialité - David Clim" %>
<% content_for :meta_description, "Découvrez comment le site David Clim collecte, utilise et protège vos données personnelles conformément au RGPD." %>
<% content_for :meta_robots, "noindex, follow" %>
<%# <% content_for :meta_image, image_url("og-installation.jpg") %>

<%= render "shared/navbar" %>
<section class="mentions-legales container">
  <h1>Politique de confidentialité</h1>

  <p>Conformément au Règlement Général sur la Protection des Données (RGPD), cette politique a pour but d’informer les utilisateurs du site www.davidclim.fr sur la manière dont leurs données personnelles sont collectées, utilisées et protégées.</p>
  <%# <p>Chez David Clim, nous nous engageons à protéger votre vie privée. Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons vos données personnelles lorsque vous utilisez notre site web.</p> %>

  <h2>Responsable du traitement</h2>
  <p>
    Pour exercer vos droits ou poser une question, vous pouvez nous contacter à :<br>
    David Clim<br>
    RESIDENCE LES CYCLAMENS 540 AVENUE ANDRE LEOTARD 83600 FREJUS<br>
    Email : contact@davidclim.fr
  </p>

  <h2>Données collectées via formulaire</h2>
  <p>
    Nous collectons les données que vous nous fournissez volontairement lorsque vous remplissez un formulaire de contact :<br>
    - Prénom et nom<br>
    - Adresse e-mail<br>
    - Numéro de téléphone (si fourni)<br>
    - Message libre dans lequel d’autres données personnelles pourraient être renseignées par l’utilisateur
  </p>
  <%# <p>Nous collectons les données que vous nous fournissez volontairement lorsque vous remplissez un formulaire de contact ou demandez un devis. Les données collectées peuvent inclure votre nom, adresse e-mail, numéro de téléphone et toute autre information pertinente.</p> %>

  <h2>Données collectées automatiquement</h2>
  <p>Aucune donnée personnelle n’est collectée automatiquement, en dehors des cookies techniques nécessaires au bon fonctionnement du site</p>

  <h2>Utilisation des données</h2>
  <p>
    Les données personnelles sont utilisées pour :<br>
    - Répondre à vos demandes via le formulaire de contact<br>
    - Vous fournir des informations sur nos services<br>
    Aucune autre utilisation n’est effectuée sans votre consentement explicite.
  </p>
  <%# <p>Les données que nous collectons sont utilisées pour répondre à vos demandes, vous fournir des informations sur nos services et améliorer notre site web. Nous ne partageons pas vos données avec des tiers sans votre consentement explicite.</p> %>

  <h2>Conservation des données</h2>
  <p>Vos données personnelles sont conservées aussi longtemps que nécessaire pour répondre à vos demandes, ou pendant une durée maximale de 3 ans à compter de votre dernier contact avec nous.</p>

  <h2>Partage des données</h2>
  <p>Nous ne partageons pas vos données personnelles avec des tiers, sauf si la loi l’exige ou si vous nous avez donné votre consentement explicite.</p>

  <h2>Sécurité des données</h2>
  <p>Nous mettons en place des mesures de sécurité appropriées pour protéger vos données contre tout accès, modification ou divulgation non autorisée.<br>
    Toutefois, aucune méthode de transmission sur Internet ou de stockage électronique n’est totalement sécurisée.</p>

  <h2>Vos droits</h2>
  <p>Conformément au RGPD, vous disposez des droits suivants :<br>
	-	Droit d’accès à vos données<br>
	-	Droit de rectification<br>
	-	Droit de suppression (droit à l’oubli)<br>
	-	Droit d’opposition au traitement<br>
	-	Droit de limitation du traitement<br>
	-	Droit à la portabilité de vos données<br>
  Pour exercer ces droits, contactez-nous à : contact@davidclim.fr.
  </p>
  </section>
