<% content_for :meta_title, "Nos réalisations en climatisation à Fréjus et Saint-Raphaël | David Clim" %>
<% content_for :meta_description, "Découvrez nos installations de climatisations chez nos clients à Fréjus, Saint-Raphaël, Puget-sur-Argens et dans le Var. Qualité, discrétion et efficacité." %>
<%# <% content_for :meta_image, image_url("og-installation.jpg") %>

<%= render "shared/navbar" %>

<div class="banner-realisation climatisation">
  <div class="container">
    <h1>NOS RÉALISATIONS</h1>
    <h2>DAVID CLIM</h2>
  </div>
</div>

<%= render 'shared/card_realisation' %>
<%= render 'shared/btn_footer_contact' %>
