// @import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&family=Nunito:wght@300&family=Raleway:wght@300;500;700&display=swap');

$defaultSeconds: 3s;

.flex-container {
	// position: absolute;
	height: 550px;
	width: 100%;
	display: -webkit-flex; /* Safari */
	display: flex;
	overflow: hidden;
	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
}
.flex-title {
	color: #f1f1f1;
	font-family: 'Raleway', sans-serif;
	position: relative;
	font-size: 2vw;
	margin: auto;
	text-align: center;
	transform: rotate(90deg);
	top: 15%;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	@media screen and (max-width: 768px) {
		transform: rotate(0deg) !important;
    font-size: 0.8rem;
	}
}
.flex-about {
	opacity: 0;
	color: #f1f1f1;
	position: relative;
	width: 80%;
	// font-size: 0.9rem;
	padding: 5%;
	top: 20%;
	border: 2px solid #f1f1f1;
	border-radius: 10px;
	line-height: 1.8rem;
	margin: auto;
	text-align: left;
	transform: rotate(0deg);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	@media screen and (max-width: 768px) {
		padding: 0%;
		border: 0px solid #f1f1f1;
    top: 15%;
	}
}


.flex-slide {
	-webkit-flex: 1;  /* Safari 6.1+ */
	-ms-flex: 1;  /* IE 10 */
	flex: 1;
	cursor: pointer;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	@media screen and (max-width: 768px) {
		overflow: auto;
		overflow-x: hidden;
	}
}
.flex-slide > .flex-about > p{
  color: white;
  font-family: 'Raleway', sans-serif;
  line-height: 1.8rem;
  font-weight: 500;
  // text-shadow: 1px 1px 2px black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 1rem;
	@media screen and (max-width: 768px) {
		font-size: 0.8rem;
	}
}

.flex-slide:hover {
	-webkit-flex-grow: 4;
	flex-grow: 6;
}

.first-element {
	// height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('climatisation-murale.jpg');
	background-size: cover;
	// background-position: center center;
	// background-attachment: fixed;
	// @media screen and (min-width: 768px) {
	// 	animation: aboutFlexSlide $defaultSeconds 1;
	// 	animation-delay: 0s;
	// }
}

@keyframes aboutFlexSlide {
	0% {
		-webkit-flex-grow: 1;
		flex-grow: 1;
	}
	50% {
		-webkit-flex-grow: 3;
		flex-grow: 3;
	}
	100% {
		-webkit-flex-grow: 1;
		flex-grow: 1;
	}
}

.flex-title-home {
	@media screen and (min-width: 768px) {
		transform: rotate(90deg);
		top: 15%;
		animation: aboutFlexSlide $defaultSeconds 1;
		animation-delay: 0s;
	}
}



@keyframes homeFlextitle {
	0% {
		transform: rotate(90deg);
		top: 15%;
	}
	50% {
		transform: rotate(0deg);
		top: 15%;
	}
	100% {
		transform: rotate(90deg);
		top: 15%;
	}
}

.flex-about-home {
	opacity: 0;
	@media screen and (min-width: 768px) {
		animation: aboutFlexSlide $defaultSeconds 1;
		animation-delay: 0s;
	}
}

@keyframes flexAboutHome {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}



.second-element {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('climatisation-gainable.jpg');
	background-size: cover;
	// background-position: center center;
	// background-attachment: fixed;
}

.third-element {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('climatisation-cassette.jpg');
	background-size: cover;
	// background-position: center center;
	// background-attachment: fixed;
}
.fourth-element {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('climatisation-console.jpg');
	background-size: cover;
	// background-position: center center;
	// background-attachment: fixed;
}

.first-element,
.second-element,
.third-element,
.fourth-element {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); // Adjust the opacity as needed
    z-index: 1; // Ensure overlay is behind text
    transition: opacity 500ms ease;
    opacity: 0;
  }

  .flex-title,
  .flex-about {
    position: relative;
    z-index: 2; // Ensure text is above the overlay
  }

  &:hover::after {
    opacity: 1;
  }
}
