.contact-btn-choice {
  background-color: rgba( 244, 245, 250, 100%);
  margin: 0;
  display: flex;
  height: 164px;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 767px) {
    padding: 0 8px 0 16px ;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 0 90px ;
  }


  p {
    margin: 0;
    padding-right: 64px;
    @media screen and (max-width: 767px) {
      padding: 0;
      font-size: 0.9rem;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      padding-right: 32px;
    }

  }
}

.contact-btn-choice > a{
  text-decoration: none;
  @media screen and (max-width: 767px) {
    font-size: 0.9rem;
  }
}
