.contact-banner{
  background-image: url("background_gradient_blue1.jpg");
  background-size: cover;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-banner-text{
  width: 540px;
}

.contact-banner h1, p{
  color: black;
}
