.footer-partners {
  // height: 215px;
  padding: 50px 20px;
  background-color: rgba( 231, 237, 245, 100%);
  // position: absolute;
  width: 100%;
  @media screen and (max-width: 767px) {
		padding: 24px 20px;
	}
}

.footer-partners ul{
  list-style: none;
  display: -webkit-flex; /* Safari */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  @media screen and (max-width: 1023px) {
		display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
	}
}

.footer-partners img {
  height: auto;
  width: 120px;
  margin: 0px 24px;
  @media screen and (max-width: 767px) {
		width: 90px;
    margin: 12px 12px;
	}

  @media (min-width: 768px) and (max-width: 1023px) {
		width: 120px;
    margin: 12px 12px;
	}
}
