.installation, .depannage {
  margin-top: 90px;
  @media screen and (max-width: 768px) {
		margin-top: 45px;
    padding: 0 20px;
	}
}

.contact-section {
  margin-top: 90px;
  @media screen and (max-width: 768px) {
    margin-top: 0;
    padding: 45px 20px 0px 20px;
	}
}

.introduction-section{
  display: -webkit-flex; /* Safari */
  display: flex;
  margin-bottom: 68px;
  @media screen and (max-width: 768px) {
		flex-direction: column;
    margin-bottom: 8px;
	}
}

.title-section{
  width: 40%;
  @media screen and (max-width: 768px) {
		width: 100%;
  }
}

.title-section > h1{
  font-size: 2.1rem;
  font-weight: bold;
  color: rgba( 24, 55, 59, 100%);
  @media screen and (max-width: 768px) {
		font-size: 1.6rem;
  }
}

.title-section > h3{
  font-size: 1.8rem;
  color: rgba( 24, 55, 59, 100%);
  @media screen and (max-width: 768px) {
		font-size: 1.2rem;
  }
}

.title-section > p{
  font-size: 1.5rem;
  color: rgba( 240, 188, 69, 100%);
}


.text-section{
  width: 60%;
  padding-left: 72px;
  line-height: 1.6rem;
  @media screen and (max-width: 768px) {
		width: 100%;
    padding: 5%;
  }
}

.text-section > p{
  font-size: 0.95rem;
  color: rgba( 24, 55, 59, 100%);
  @media screen and (max-width: 768px) {
    font-size: 0.9rem;

  }

}
